# Homework Template

Let's install the PennGrader client.

In [ ]:
%%capture
!pip install penngrader-client

In [1]:
!pip install numpy pandas requests pyyaml

Requirement already satisfied: numpy in /Users/zives/Python/PennGrader/.venv/lib/python3.13/site-packages (2.4.0)
Requirement already satisfied: pandas in /Users/zives/Python/PennGrader/.venv/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: requests in /Users/zives/Python/PennGrader/.venv/lib/python3.13/site-packages (2.32.5)
Requirement already satisfied: pyyaml in /Users/zives/Python/PennGrader/.venv/lib/python3.13/site-packages (6.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/zives/Python/PennGrader/.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/zives/Python/PennGrader/.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/zives/Python/PennGrader/.venv/lib/python3.13/site-packages (from pandas) (2025.3)
Requirement already satisfied: charset_normalizer<4,>=2 in /Users/zives/Python/PennGrader/.venv/lib/python3.13/site-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/zives/Python/PennGrader/.venv/lib/python3.13/site-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/zives/Python/PennGrader/.venv/lib/python3.13/site-packages (from requests) (2.6.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/zives/Python/PennGrader/.venv/lib/python3.13/site-packages (from requests) (2026.1.4)
Requirement already satisfied: six>=1.5 in /Users/zives/Python/PennGrader/.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: pip install --upgrade pip

[To Homework Developer]: When your course was created, this should have resulted in a `notebook-config.yaml` with a URL and an encryption key.  You should copy + paste the contents into the next cell (leaving the first line alone).

In [ ]:
%%writefile config.yaml

#grades_api_url: 'https://...amazonaws.com/default/Grader23'
#grades_api_key: ..

Overwriting config.yaml

In [1]:
from penngrader.grader import PennGrader

import pandas as pd
import numpy as np

## Autograder Setup
Enter your 8-digit PennID below:

In [2]:
STUDENT_ID = 99999999
SECRET = STUDENT_ID

Run the following cell to initialize the autograder. This autograder will let you submit your code directly from this notebook and immidiately get a score.

**NOTE:** Remember we store your submissions and check against other student's submissions... so, not that you would, but no cheating.

In [3]:
grader = PennGrader('../config.yaml',
    homework_id=9,
    student_id=STUDENT_ID,
    secret=SECRET,
    course_name='cis2450_spr26')

PennGrader initialized with Student ID: 99999999

Make sure this correct or we will not be able to store your grade

## Question 1: Write an addition function!
Fill in the function body of `addition_function` that takes in two numbers and returns their sum.

In [4]:
def addition_function(x,y):
    return x + y

Run the following cell to grade this question.

In [6]:
grader.grade(test_case_id = 'test_case_1', answer = addition_function)

{'statusCode': 200, 'body': '{"token1": "b9536e2285cc35adf5d5561072052df94bce8ec8a70d471d811ab56ede9cd9e0.e6d04c04-6f1b-4ea8-aa05-5eabbd2f41ce.1767651646", "token2": "8f3cac4337bfa8fdae5c8c61ceab0fc10ef5b6c38f40cad13e1ed7e5015b8372.daa83b6a-77b1-47b6-9192-8e9ab983df28.1767651646"}', 'headers': {'Content-Type': 'application/json'}}
{'homework_id': 'cis2450_spr26_HW9', 'student_id': '99999999', 'secret': '99999999', 'test_case_id': 'test_case_1', 'answer': 'gASVHwEAAAAAAACMCmRpbGwuX2RpbGyUjBBfY3JlYXRlX2Z1bmN0aW9ulJOUKGgAjAxfY3JlYXRlX2NvZGWUk5QoQwICAZRLAksASwBLAksCSwNDCpUAWAEtAAAAJACUToWUKYwBeJSMAXmUhpSMTi92YXIvZm9sZGVycy84Ni8xemtwaHlrNTYybDg3cmhuc3dyY3ptN2MwMDAwZ24vVC9pcHlrZXJuZWxfMjYyNDkvNDIwNDQyNjE2OS5weZSMEWFkZGl0aW9uX2Z1bmN0aW9ulGgMSwFDCYAA2AsMiTWATJRDAJQpKXSUUpR9lIwIX19uYW1lX1+UjAhfX21haW5fX5RzaAxOTnSUUpR9lH2UjA9fX2Fubm90YXRpb25zX1+UfZRzhpRiLg==', 'token_test': 'b9536e2285cc35adf5d5561072052df94bce8ec8a70d471d811ab56ede9cd9e0.e6d04c04-6f1b-4ea8-aa05-5eabbd2f41ce.1767651646', 'token_save': '8f3cac4337bfa8fdae5c8c61ceab0fc10ef5b6c38f40cad13e1ed7e5015b8372.daa83b6a-77b1-47b6-9192-8e9ab983df28.1767651646'}
{"statusCode": 200, "body": "Correct! You earned 5/5 points. You are a star!\n\nYour submission has been successfully recorded in the gradebook.", "headers": {"Content-Type": "application/json"}}

'{"statusCode": 200, "body": "Correct! You earned 5/5 points. You are a star!\\n\\nYour submission has been successfully recorded in the gradebook.", "headers": {"Content-Type": "application/json"}}'

## Question 3:  Finally, let's do some Pandas stuff!

Run the following cell to load the dataset...

In [19]:
students_df = pd.DataFrame([['Leonardo_Murri',100],['Akshay_Grewal',65]], columns = ['first_last_name','grade'])
students_df

  first_last_name  grade
0  Leonardo_Murri    100
1   Akshay_Grewal     65

Use `.apply(...)` to keep only the last name in the `first_last_name` column.

In [20]:
students_df['first_last_name'] = students_df['first_last_name'].apply(lambda x: x.split('_')[0])
students_df

  first_last_name  grade
0        Leonardo    100
1          Akshay     65

Now, rename the `first_last_name` column to `first_name`. Make sure your final dataframe is called `student_df`.

In [21]:
students_df = students_df.rename(columns = {'first_last_name':'first_name'})
students_df

  first_name  grade
0   Leonardo    100
1     Akshay     65

Run the following cell to grade this question.

In [23]:
# Autograder cell: Test case #3
grader.grade(test_case_id = 'test_case_2', answer = students_df)

Correct! You earned 10/10 points. You are a star!

Your submission has been successfully recorded in the gradebook.